/* Body Content Mods */
body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Image Mods */
img{
    padding: 10px;
    height: 300px;
}

/* Hyperlink Mods */
.linktxt {
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(0, 153, 255);
}

.linktxt:hover{
    color: aqua;
    background-color: #808080;
}

/* Navigation Bar */
nav {
    padding: 0;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 5px 0 5px 0;
}

nav li{
    border-right:1px solid #bbb;
    display: inline-block;
    padding: 14px 16px;
}

nav li:last-child{
    border-right:none;
    text-decoration: none;
}

nav li:hover{
    background-color: #808080;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Container */
header{
    width: 100%;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

#main-content{
    width: 100%;
    text-align: center;
}

footer{
    padding-top: 10px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 14px 16px;
}

footer a:hover{
    background-color: #808080;
}

#copyright{
    padding-top: 100px;
}